:root {

    --bs-primary: #0D3C80 !important;
    --bs-success: #00f059 !important;
	--color-light1: rgb(59, 59, 59);
	--color-light2: #43434390;
	--color-white: #ffffff;

	--swiper-theme-color: #FF6600 !important;
	--swiper-navigation-color: #FF6600 !important;
	--swiper-pagination-color: #FF6600 !important;

	--color-neutro: #494949;
	--color-black: #000000;
	--transition150: all 150ms;
	--transition300: all 300ms;
	--transition4: all .25s ease;
	--shadow-general: 0px 10px 15px -9px rgba(0, 0, 0, 0.7);
	--font-fm: "Poppins", sans-serif;



}
.text-primarys{
    color: var(--bs-primary) !important;
}
.sl-variant{
    color: hsl(215, 82%, 28%)
}
.text-secondarys{
    color: var(--bs-success) !important;
}
.text-blacks{
    color: var(--color-black);
}
.bg-primarys{
    background: var(--bs-primary) !important;
}
.bg-secondarys{
    background-color:  var(--bs-success) !important;;
}
.btn-primary{
        /* BUTTONS */
        --bs-btn-color: #fff;
        --bs-btn-bg: #00f059 !important;
        --bs-btn-border-color: #00f059 !important;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #0D3C80 !important;
        --bs-btn-hover-border-color: #0D3C80 !important;
        --bs-btn-focus-shadow-rgb: 49,132,253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #00f059 !important;
        --bs-btn-active-border-color: #00f059 !important;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #0d6efd;
        --bs-btn-disabled-border-color: #0d6efd;
}
* {
	box-sizing: border-box;
	text-decoration: none;
	font-family: var(--font-fm);
	color: var(--color-black);
}

img {
	width: 100%;
	display: block;
	margin: none;
	transition: var(--transition150);
	height: auto;
}
strong{
	color: black;
}
.cl-normal {
    width: 1200px;
    margin: auto;
    transition: var(--transition150);
}
/* body{
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(215, 82%, 35%) 15%,
        hsl(215, 82%, 30%) 35%,
        hsl(215, 82%, 20%) 75%,
        hsl(215, 82%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(215, 82%, 45%) 15%,
        hsl(215, 82%, 30%) 35%,
        hsl(215, 82%, 20%) 75%,
        hsl(215, 82%, 19%) 80%,
        transparent 100%);
        min-height: 100vh;
        background-attachment: fixed;
} */
.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(215, 82%, 35%) 15%,
        hsl(215, 82%, 30%) 35%,
        hsl(215, 82%, 20%) 75%,
        hsl(215, 82%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(215, 82%, 45%) 15%,
        hsl(215, 82%, 30%) 35%,
        hsl(215, 82%, 20%) 75%,
        hsl(215, 82%, 19%) 80%,
        transparent 100%);
        min-height: 100vh;
        background-attachment: fixed;
  }

  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#0b6c2f, #00f059);
    overflow: hidden;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#0b6c2f, #00f059);
    overflow: hidden;
  }

  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
@media screen and (max-width: 1400px) {
    .cl-normal {
        width: 900px;
        margin: auto;
    }
}

@media screen and (max-width: 960px) {
    .cl-normal {
        width: 600px;
        margin: auto;
    }
}

@media screen and (max-width: 650px) {
    .cl-normal {
        width: 85%;
        margin: auto;
    }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 360px) {

    .cl-normal {
        width: 92%;
        margin: auto;
    }

    .diri_logo {
        width: 30px;
    }
}